/*<a href="https://www.flaticon.es/iconos-gratis/menu-abierto" title="menú abierto iconos">Menú abierto iconos creados por Pixel perfect - Flaticon</a>*/
* {
    /*Color*/
    --bodyColor: rgba(250,5,5,1);
    --bodyScreenColor: rgba(176,176,176,1);
    --buttonColor: rgba(48,123,251,1);
    --screenColor: rgba(233, 233, 226, 1);
}

/*.pokemonMainHome {
    height:100%;
    min-height: 60vh;
    grid-area: main;
    background-color:var(--screenColor);

    padding:1.5rem;
}*/

.pokemonMainPersonaje {
    height:100%;
    min-height: 60vh;
    grid-area: main;
    background-color:var(--bodyColor);

    padding:1.5rem;
}

.pokemonMain .selectPokemon {
    margin-bottom:0.5rem;
}

.bodyScreen {
    background-color: var(--bodyScreenColor);
    height:90%;
    width:90%;
    border-radius:1rem;
    padding:0.8rem;
    box-shadow: 0 0 10px 10px rgba(0,0,0, .5);

    box-sizing: border-box;
}

.mainScreen {
    background-color:var(--screenColor);
    height:78%;
    width:100%;
    border:3px solid black;
    border-radius:1rem;
    padding:0.5rem;
}

.buttonScreen {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;

    padding:0.5rem;
    height:26%;
    box-sizing: border-box;
}

.buttonScreen button {
    border-radius:50%;
    height:90%;
    width:80px;
    background-color:var(--buttonColor);
}

.buttonScreen img {
    width:30%;
    height:40px;
}